/* region common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 70%;
    margin: auto;
}


/* end-region common */

/* region Debug */
.debug * {
    border: 1px dashed;
}
.debug header {
    background-color: #add8e6;
}
/* end-region Debug */

/* layout */
.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* end-layout */

/* header */
header{
    height: 80px;
}

header>section{
    height: 80px;
}
/* end-header */