/* region common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 70%;
    margin: auto;
    padding: 5px;
}
/* end-region common */

/* region Debug */
.debug * {
    border: 1px dashed;
}

.debug header {
    background-color: #add8e6;
    height: 80px;
}

.debug header>section>div{
    background-color: #daa520;
}
/* end-region Debug */

/* layout */
.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* end-layout */

/* header */
header>section {
    height: 80px;
}

#head1{
    width: 25%;
}

#head2{
    width: 50%;
    justify-content: space-between;
}

#head3{
    width: 25%;
    justify-content: flex-end;
}
/* end-header */