/* region common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 70%;
    margin: auto;
    padding: 5px;
}
/* end-region common */

/* region Debug */
.debug * {
    border: 1px dashed;
}

.debug header {
    background-color: #add8e6;
    height: 80px;
}

.debug header>section>div{
    background-color: #daa520;
}

.debug #section1{
    height: 500px;
    background-color: #00008b;
}

.debug #square-s1{
    background-color: #ee82ee;
    height: 80%;
    width: 50%;
}

.debug .section2and4{
    height: 600px;
    background-color: #ffffff;
}

.debug .square1-s2{
    background-color: #1e90ff;
    height: 80%;
    width: 40%;
}

.debug .square2-s2{
    background-color: #ffc0cb;
    height: 80%;
    width: 30%;
}

.debug #section3{
    height: 600px;
    background-color: #d3d3d3;
    flex-direction: row-reverse;
}

.debug #section5{
    height: 995px;
    background-color: #d3d3d3;
}

.debug #square-s5{
    background-color: #228b22;
    height: 88%;
    width: 70%;
}

.debug .section6{
    height: 630px;
    background-color: #23272a;
    padding-top: 1rem;
}

.debug .square1-s6{
    background-color: #f08080;
    height: 94%;
    width: 22%;
}

.debug .square2-s6{
    background-color: #20b2aa;
    height: 94%;
    width: 12%;
}

.debug #footer{
    height: 111px;
    background-color: #23272a;
    display: flex;
    align-content: flex-end;
    justify-content: center;
}

.debug #foot-container{
    background-color: #7fffd4;
    height: 80%;
    width: 70%;
    align-content: center;
}
/* end-region Debug */

/* layout */
.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
/* end-layout */

/* header */
header{
    background-color: white;
}

header>section {
    height: 80px;
}

#head1{
    width: 20%;
}

#head2{
    width: 60%;
    justify-content: center;
}

#head3{
    width: 20%;
    justify-content: flex-end;
}
/* end-header */

/* main */
/* section 2 */
.flex-section{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
/* end-section 2 */

/* section 6 */
.flex-section6{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* end-section 6 */
/* end-main */

/* footer */
.flex-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

#foot1{
    width: 10%;
    justify-content: center;
    background-color: #ffb6c1;
}

#foot2{
    width: 10%;
    justify-content: center;
    background-color: #ffb6c1;
}
/* end-footer */